.registrations
  .registrations-header
    = render partial: '/layouts/header_sub'
    = devise_error_messages!
    - if @address
      = @address.each do |error|
        error

    

  .registrations-information
    .infomation-content
      .center-top
        .top-text
          .top-text__input
            新規会員登録
      .center-information
        = form_for @user do |form|
          .infomation-user
            ユーザー情報
            .information-nickname
              .nickname-top
                .nickname-top-name
                  ニックネーム
                .nickname-top-label
                  .nickname-top-label__text
                    必須
              .nickname-top-bottom
                = form.text_field :nickname, placeholder:  "例）フリマ太郎", class:"text-form"
          .information-mail
            .mail-top
              .mail-top-address
                メールアドレス
              .mail-top-label
                .mail-top-label__text
                  必須
            .mail-top-bottom
              = form.text_field :email, placeholder: "PC ・ 携帯どちらでも可", class:"mail-form"
          .information-password
            .password-top
              .password-top-address
                パスワード
              .password-top-label
                .password-top-label__text
                  必須
            .password-top-bottom
              = form.password_field :password, placeholder: "7文字以上の半角英数字",  class:"password-form"
            .information-password
              .password-top
                .password-top-address
                  パスワード(確認)
                .password-top-label
                  .password-top-label__text
                    必須
              .password-top-bottom
                = form.password_field :password_confirmation, label: :password_confirmation, placeholder: "7文字以上の半角英数字", class:"password-form"
          .information-attention
            ※ 英字と数字の両方を含めて設定してください
          .information-idintity-verification
            本人確認
          .information-idintity-verification-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .information-name
            .name-top
              .name-top-address
                お名前（全角）
              .name-top-label
                .name-top-label__text
                  必須
            .name-top-bottom
              = form.text_field :family_name_kanji, placeholder: "例）中村", class:"name-form-left"
              = form.text_field :first_name_kanji, placeholder: "例）悠真", class:"name-form-right"
          .information-kana
            .kana-top
              .kana-top-address
                お名前(カナ)
              .kana-top-label
                .kana-top-label__text
                  必須
            .kana-top-bottom
              = form.text_field :family_name_kana, placeholder: "例）ナカムラ", class:"kana-form-left"
              = form.text_field :first_name_kana, placeholder: "例）ユウマ", class:"kana-form-right"
          .information-birthday
            .birthday-top
              .birthday-top-name
                生年月日
              .birthday-top-label
                .birthday-top-label__text
                  必須
            .birthday-top-bottom
              .birthday-top-bottom-year
                = form.collection_select :year_id, Year.all, :id, :year,  class: "year-box"
              .birthday-top-bottom-year-text
                年
              .birthday-top-bottom-month
                = form.collection_select :month_id, Month.all, :id, :month,  class: "month-box" 
              .birthday-top-bottom-month-text
                月
              .birthday-top-bottom-day
                = form.collection_select :day_id, Day.all, :id, :day,  class: "day-box"
              .birthday-top-bottom-day-text
                日
          .information-birthday-attention
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .information-address
            商品送付先住所情報
          = form.fields_for :address do |f|
      
            .information-send-name
              .send-name-top
                .send-name-top-hull
                  お名前
                .send-name-top-label
                  .send-name-top-label__text
                    必須
              .send-name-top-bottom
                = f.text_field :family_name_kanji, placeholder:  "例）中村",  class:"send-name-form-left"
                = f.text_field :first_name_kanji, placeholder: "例）悠真",  class:"send-name-form-right"
            .information-send-kana
              .send-kana-top
                .send-kana-top-hull
                  お名前カナ
                .send-kana-top-label
                  .send-kana-top-label__text
                    必須
              .send-kana-top-bottom
                = f.text_field :family_name_kana, placeholder: "例）ナカムラ", class:"send-kana-form-left"
                = f.text_field :first_name_kana, placeholder: "例）ユウマ",  class:"send-kana-form-right"
            .information-zip-code
              .zip-code-top
                .zip-code-top-address
                  郵便番号
                .zip-code-top-label
                  .zip-code-top-label__text
                    必須
              .zip-code-top-bottom
                = f.text_field :postal_code, placeholder: "例）123-4567", class:"zip-code-form"
            .information-state
              .state-top
                .state-top-address
                  都道府県
                .state-top-label
                  .state-top-label__text
                    必須
              .state-top-bottom
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name,  class: "state-box"
            .information-municipalities
              .municipalities-top
                .municipalities-top-address
                  市町村区
                .municipalities-top-label
                  .municipalities-top-label__text
                    必須
              .municipalities-top-bottom
                = f.text_field :municipalities, placeholder: "例）渋谷区西原", class:"municipalities-form"
            .information-street-number
              .street-number-top
                .street-number-top-address
                  番地
                .street-number-top-label
                  .street-number-top-label__text
                    必須
              .street-number-top-bottom
                = f.text_field :block_number, placeholder: "例）西原1-19-10", class:"street-number-form"
            .information-building
              .building-top
                .building-top-address
                  建物名
                .building-top-label
                  .building-top-label__text
                    任意
              .building-top-bottom
                = f.text_field :building_name, placeholder: "例）渋谷ビル109", class:"building-form"
            .information-phone
              .phone-top
                .phone-top-address
                  電話
                .phone-top-label
                  .phone-top-label__text
                    任意
              .phone-top-bottom
                = f.text_field :phone_number, placeholder: "例）090-1234-5678", class:"phone-form"
            .infomation-agree-text
              「登録する」のボタンを押すことにより、
              = link_to "#"  , class: "terms-and-conditions" do
                利用規約
              に
            .infomation-agree-text-center
              同意したものとみなします。
            .information-next
              .information-next-box
                = f.submit value: "登録する", class:"submit-form"
            .information-registration
              = link_to "#" ,class:"registration-description" do
                本人情報の登録について＞
            .information-prybacy-attention
              .information-prybacy-attention-background
                .information-prybacy-attention-text
                  .information-prybacy-attention-text-top
                    This site is protected by reCAPTCHA and the Google 
                    = link_to "#" ,class:"privacy-policy-link" do
                      Privacy Policy
                    and
                    = link_to "#" ,class:"terms-of-service-link" do
                      Terms of Service 
                    apply.

  .registrations-bottom
    = render partial: '/layouts/footer_sub'