= render partial: "/layouts/header"
.Exhibition_btn
  =link_to new_product_path do
    .Exhibition_btn__content
      .Exhibition_btn__content--text
        出品する
      = image_tag "icon_camera.png", class:"Exhibition_btn__content--icon"
.show_header
  %ul.show_header__pagetitle
    %li.show_header__pagetitle__li
      = link_to root_path do
        FURIMA
    %li.show_header__pagetitle__li.icon
      ＞
    %li.show_header__pagetitle__li
      = link_to "#" do
        マイページ
.show_main
  .show_main__left
    .show_main__left__list
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            マイページ
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            お知らせ
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            いいね！一覧
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            出品する
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            出品した商品-出品中
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            出品した商品-取引中
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            出品した商品-売却済
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            購入した商品-取引中
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            購入した商品-過去の取引
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            ニュース一覧
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            評価一覧
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            ガイド
          .show_main__left__list__area--next_icon
            ＞
      = link_to "#" do
        .show_main__left__list__area
          .show_main__left__list__area--text
            お問い合わせ
          .show_main__left__list__area--next_icon
            ＞
    .show_main__left__setting
      設定
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          プロフィール
        .show_main__left__list__area--next_icon
          ＞
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          発送元・お届け先住所変更
        .show_main__left__list__area--next_icon
          ＞
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          支払い方法
        .show_main__left__list__area--next_icon
          ＞
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          メール/パスワード
        .show_main__left__list__area--next_icon
          ＞
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          本人情報
        .show_main__left__list__area--next_icon
          ＞
    = link_to "#" do
      .show_main__left__list__area
        .show_main__left__list__area--text
          電話番号の確認
        .show_main__left__list__area--next_icon
          ＞
    = link_to destroy_user_session_path, method: :delete do
      .show_main__left__list__area
        .show_main__left__list__area--text
          ログアウト
        .show_main__left__list__area--next_icon
          ＞
  .show_main__right
    .show_main__right__upper
      .show_main__right__upper__userarea
        .show_main__right__upper__userarea--text
          ゲストさんのマイページ
        .show_main__right__upper__userarea__data
          .show_main__right__upper__userarea__data--in
            出品数
            ０
          .show_main__right__upper__userarea__data--out
            購入数
            ０
      %ul.show_main__right__upper__tab
        %li.tab_upper.active_upper お知らせ
        %li.tab_upper やることリスト
      .panel-group
        .panel_upper.show_upper 
          .show_main__right__upper__list

          = link_to "#" do
            .show_main__right__upper__list__area
              = image_tag "logo_icon.png",class:"show_main__right__upper__list__area--icon"
              .show_main__right__upper__list__area__contents
                .show_main__right__upper__list__area__contents--text
                  取引が完了しました
                .show_main__right__upper__list__area__contents--time
                  12分前
              .show_main__right__upper__list__area--next_icon
                ＞
          = link_to "#" do
            .show_main__right__upper__list__area
              = image_tag "logo_icon.png",class:"show_main__right__upper__list__area--icon"
              .show_main__right__upper__list__area__contents
                .show_main__right__upper__list__area__contents--text
                  入金処理が完了しました。
                .show_main__right__upper__list__area__contents--time
                  50分前
              .show_main__right__upper__list__area--next_icon
                ＞
          = link_to "#" do
            .show_main__right__upper__list__area
              = image_tag "logo_icon.png",class:"show_main__right__upper__list__area--icon"
              .show_main__right__upper__list__area__contents
                .show_main__right__upper__list__area__contents--text
                  取引された方からメッセージが入っています。
                .show_main__right__upper__list__area__contents--time
                  1時間前
              .show_main__right__upper__list__area--next_icon
                ＞
          = link_to "#" do
            .show_main__right__upper__list__area
              = image_tag "logo_icon.png",class:"show_main__right__upper__list__area--icon"
              .show_main__right__upper__list__area__contents
                .show_main__right__upper__list__area__contents--text
                  取引された方からメッセージが入っています。
                .show_main__right__upper__list__area__contents--time
                  3時間前
              .show_main__right__upper__list__area--next_icon
                ＞

          = link_to "#" do
            .show_main__right__upper__list__area
              = image_tag "logo_icon.png",class:"show_main__right__upper__list__area--icon"
              .show_main__right__upper__list__area__contents
                .show_main__right__upper__list__area__contents--text
                  あなたの取引が高評価を受けました
                .show_main__right__upper__list__area__contents--time
                  3日前
              .show_main__right__upper__list__area--next_icon
                ＞
          .show_main__right__upper__list__area
            = link_to "#" do
              .show_main__right__upper__list__area__index_view
                .show_main__right__upper__list__area__index_view--text
                  一覧を見る
        .panel_upper
          .show_main__right__upper__list__none 
            現在やることがありません
    .show_main__right__lower
      .show_main__right__lower__userarea
        %ul.show_main__right__lower__tab
          %li.tab_lower.active_lower 取引中
          %li.tab_lower 過去の取引
      .panel-group
        .panel_lower.show_lower
          .show_main__right__lower__list__none 
            現在取引がありません
        .panel_lower
          .show_main__right__lower__list__none
            過去に取引がありません
= render partial: "/layouts/footer"