.card--new
  = render partial: '/layouts/header_sub'
  .card--new__box
    .card--new__box__title
      支払い方法
    
    = form_with url: user_cards_path, method: :post, html: { name: "inputForm" }, class: "card--new__box__form" do |f|
      .card--new__box__form__label
        カード番号
        %span.card--new__box__form__label__required
          必須
      = f.text_field :card_number, type: 'text', class: 'card--new__box__form__number', placeholder: '半角数字のみ', maxlength: "16"
      = image_tag 'cards/cards_icon_list.png', alt: '画像を表示できません', class: 'card--new__box__form__cards--image'
      .card--new__box__form__label
        有効期限
        %span.card--new__box__form__label__required
          必須
      = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'card--new__box__form__expire'
      %span.card--new__box__form__label--expire
        月
      = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'card--new__box__form__expire'
      %span.card--new__box__form__label--expire
        年
      .card--new__box__form__label
        セキュリティコード
        %span.card--new__box__form__label__required
          必須
      = f.text_field :cvc, type: 'text', class: 'card--new__box__form__cvc', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
      .card--new__box__form__submit#card_token
        = f.submit '登録する', class: 'card--new__box__form__submit__btn', id: 'token_submit'
  = render partial: '/layouts/footer_sub'