.new
  = render partial: '/layouts/header_sub'
  .new__detail
    .new__detail__title
      購入内容の確認
    .new__detail__product
      .new__detail__product__box
        .new__detail__product__box__image
          画像
        .new__detail__product__box__information
          .new__detail__product__box__information__name
            腕時計
          .new__detail__product__box__information__price
            = "¥#{@product.price.to_s(:delimited)} (税込) 送料込み"
    .new__detail__payment
      = form_with model: @transaction, url: product_transactions_path, local: true do |f|
        %ul.new__detail__payment__lists
          %li.new__detail__payment__lists__list
            .new__detail__payment__lists__list__price-box
              .new__detail__payment__lists__list__price-box__label
                支払い金額
              .new__detail__payment__lists__list__price-box__price
                = "¥#{@product.price.to_s(:delimited)}"
          %li.new__detail__payment__lists__list
            支払い方法
            - if @card_payjp
              %ul.new__detail__payment__lists__list__payment-method
                %li
                  クレジットカード
                %li
                  = "**** **** **** " + @card_payjp.last4
                %li
                  = "有効期限 #{@card_payjp.exp_month.to_s} / #{@card_payjp.exp_year.to_s.slice(2,3)}"
                %li
                  - if @card_payjp.brand == "Visa"
                    = image_tag 'cards/logo_visa.gif', alt: '画像を表示できません', class: 'new__detail__payment__lists__list__payment-method__card-img'
            - else
              = link_to '＋カードを登録する', new_user_card_path(current_user.id), class: 'new__detail__payment__lists__list__new--link'
          %li.new__detail__payment__lists__list
            配送先
            %ul.new__detail__payment__lists__list__shipping-address
              - address = current_user.address
              %li
                = "〒#{address.postal_code}"
              %li
                = Prefecture.find(address.prefecture_id).name
                = address.municipalities
                = address.block_number
                = address.building_name
                = address.room_number
              %li
                = address.family_name_kanji + address.first_name_kanji
        = f.submit "購入する", class: "transaction-new-submit"
  = render partial: '/layouts/footer_sub'
