= render partial: "/layouts/header"


.Exhibition_btn
  - if user_signed_in?
    =link_to new_product_path do
      .Exhibition_btn__content
        .Exhibition_btn__content--text
          出品する
        = image_tag "icon_camera.png", class:"Exhibition_btn__content--icon"
  - else  
    =link_to new_user_session_path do
      .Exhibition_btn__content
        .Exhibition_btn__content--text
          出品する
        = image_tag "icon_camera.png", class:"Exhibition_btn__content--icon"

.main_visual
  .main_visual__content
    .main_visual__content__subtitle
      人生を変えるフリマアプリ
    .main_visual__content__text
      %p FURIMAは誰でもかんたんに出品・購入できる
      %p フリマアプリです
    .main_visual__content__appbtn
      =link_to "https://www.apple.com/jp/ios/app-store/" do
        = image_tag "app-store-badge.svg",class:"main_visual__content__appbtn--apple"
      =link_to "https://play.google.com/store?hl=ja" do
        = image_tag "google-play-badge.png",class:"main_visual__content__appbtn--google"
.top_introduction
  .top_introduction__subtitle
    .top_introduction__subtitle__text
      FURIMAが選ばれる３つの理由
    .top_introduction__subtitle__line
  %ul.top_introduction__ul
    %li.top_introduction__ul__li
      = image_tag "pict-reason-01.jpg", class:"top_introduction__ul__li__image"
      .top_introduction__ul__li__number
        1
      .top_introduction__ul__li__text
        %span.top_introduction__ul__li__text--blue_font
          3分
        ですぐに出品
      .top_introduction__ul__li__description
        スマホで入力するだけでかんたんに出品できる！
    %li.top_introduction__ul__li
      = image_tag "pict-reason-02.jpg", class:"top_introduction__ul__li__image"
      .top_introduction__ul__li__number
        2
      .top_introduction__ul__li__text
        %span.top_introduction__ul__li__text--blue_font シンプル
        で使いやすい
      .top_introduction__ul__li__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.top_introduction__ul__li
      = image_tag "pict-reason-03.jpg", class:"top_introduction__ul__li__image"
      .top_introduction__ul__li__number
        3
      .top_introduction__ul__li__text
        手数料
        %span.top_introduction__ul__li__text--blue_font
          業界最安値
      .top_introduction__ul__li__description
        最大3％でお得に出品＆購入！

.top_middle_dl
  .top_middle_dl__inner
    .top_middle_dl__inner__subtitle
      会員数日本一位
    .top_middle_dl__inner__text
      %p FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません。
    .top_middle_dl__inner__appbtn
      =link_to "https://www.apple.com/jp/ios/app-store/" do
        = image_tag "app-store-badge.svg",class:"top_middle_dl__inner__appbtn--apple"
      =link_to "https://play.google.com/store?hl=ja" do
        = image_tag "google-play-badge.png",class:"top_middle_dl__inner__appbtn--google"

.top_feature
  .top_feature__title
    FURIMAの特徴
  .top_feature__line
  %ul.top_feature__ul
    %li.top_feature__ul__li
      = image_tag "icon-01.png",class:"top_feature__ul__li__image"
      .top_feature__ul__li__text
        簡単に売り買い出来る
      .top_feature__ul__li__description
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
    %li.top_feature__ul__li
      = image_tag "icon-03.png",class:"top_feature__ul__li__image"
      .top_feature__ul__li__text
        売上金は即日振り込みに対応
      .top_feature__ul__li__description
        午後9時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします！
    %li.top_feature__ul__li
      = image_tag "icon-04.png",class:"top_feature__ul__li__image"
      .top_feature__ul__li__text
        様々な支払いに対応
      .top_feature__ul__li__description
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.pic_up_container
  .pic_up_container__head
    ピックアップカテゴリー
  .pic_up_container__title
    新着ソーセージ
  .pic_up_container__products
    -count = 0
    - @products.each do |product|
      -if count < 3
        -if Transaction.find_by(product_id: product.id) == nil
        - count += 1
          = link_to product_path(product.id) do
            .pic_up_container__products__box
              = image_tag "#{product.images.first.image}",class:"pic_up_container__products__box--image"
              .pic_up_container__products__box__lower
                .pic_up_container__products__box__lower__data
                  .pic_up_container__products__box__lower__data--name
                    = product.name
                  .pic_up_container__products__box__lower__data--price
                    = product.price
                    円
                  .pic_up_container__products__box__lower__data--tax
                    （税込み）
                .pic_up_container__products__box__lower--fav
                  ⭐️１
      - else            
        - break

.pic_up_container
  .pic_up_container__head
    ピックアップブランド
  .pic_up_container__title
    伊藤ハム
  .pic_up_container__products

    - @ham.each do |product|
      = link_to product_path(product.id) do
        .pic_up_container__products__box
          = image_tag "#{product.images.first.image}",class:"pic_up_container__products__box--image"
          .pic_up_container__products__box__lower
            .pic_up_container__products__box__lower__data
              .pic_up_container__products__box__lower__data--name
                = product.name
              .pic_up_container__products__box__lower__data--price
                = product.price
                円
              .pic_up_container__products__box__lower__data--tax
                （税込み）
            .pic_up_container__products__box__lower--fav
              ⭐️１



= render partial: "/layouts/footer"