= render partial: "/layouts/header"

.container
  .container__category
    %ul
      %li
        = link_to root_path do
          FURIMA
      %li
        %i
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          = @category.root.name
      %li
        %i
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          = @category.parent.name
      %li
        %i
          = icon('fa', 'angle-right') 
      %li
        = link_to "do" do
          = @category.name
      %li
        %i
          = icon('fa', 'angle-right') 
      %li
        %p 
          = @product.name


  .container__box
    .item-box-container
      %h1.item-name 
        = @product.name
      .item-box-container__item-main-content
        .item-box-container__item-main-content-clearfix
          .item-box-container__item-main-content-clearfix__image 
            = image_tag @product.images.first.image, class: :main_image, height: '375', width: '620'

        .item-box-container__item-main-content-clearfix__image__dot
          %ul
          - @product.images.each do |image|
            %li
              = image_tag image.image, class: :sub_image, height: '90', width: '120'
         
        .item-price-box
          .item-price-box__bold 
            ¥
            = @product.price
        .item-tax-box  
          .item-price-box__tax-shipping-fee 
            (税込)
          .item-price-box__tax-shipping-payer
            = @product.shipping_payer.cost

      - sold = Transaction.find_by(product_id: params[:id])     
      - if sold != nil 
        .item-sold-banner
          %span.item-sold-banner__sold
            売り切れました
      - elsif user_signed_in? && @product.user_id != current_user.id
        .item-buy-button
          = link_to new_product_transaction_path(@product.id) do
            %span.item-buy-button__buy
              購入画面に進む
      - elsif user_signed_in? && @product.user_id == current_user.id
      - else
        .item-buy-button
          = link_to new_user_session_path do
            %span.item-buy-button__buy
              購入画面に進む

      - if sold == nil && user_signed_in? && @product.user_id == current_user.id 
        .item-edit-button
          = link_to edit_product_path(@product.id) do
            %span.item-edit-button__edit 
              この商品を編集
        .choice-text
          %span or
        .item-delete-button
          = link_to product_path(@product.id), method: :delete do
            %span.item-delete-button__delete 
              この商品を削除
      - else

        .item-text-box
          %span.item-text-box__content
            = simple_format @product.description
        .item-name-box
          %span.item-name-box__left 
            = @product.name
        .item-box-container__item-main-content-clearfix__table
          %table{border: "1", style: "border-collapse: collapse"}
            %tr
              %th 出品者
              %td.item-box-container__item-main-content-clearfix__table__td 
                = @user.nickname
            %tr
              %th カテゴリー
              %td.item-box-container__item-main-content-clearfix__table__td
                = link_to "#" do 
                  = @category.root.name 
                %br
                = link_to "#" do  
                  = @category.parent.name
                %br
                = link_to "#" do
                  = @category.name 

            %tr
              %th ブランド 
              %td.item-box-container__item-main-content-clearfix__table__td 
                = link_to "#" do
                  = @product.brand
            %tr
              %th 商品のサイズ 
              %td.item-box-container__item-main-content-clearfix__table__td
            %tr
              %th 商品の状態
              %td.item-box-container__item-main-content-clearfix__table__td
                = @product.condition.condition
            %tr
              %th 配送料の負担
              %td.item-box-container__item-main-content-clearfix__table__td
                = @product.shipping_payer.cost
            %tr
              %th 発送元の地域 
              %td.item-box-container__item-main-content-clearfix__table__td
                = @product.shipping_from_area.name
            %tr
              %th 発送日の目安
              %td.item-box-container__item-main-content-clearfix__table__td
                = @product.shipping_duration.duration
          
      - if user_signed_in? && @product.user_id != current_user.id 
        .item-description
          .item-description__btn-left
            .item-description__btn-left__star-icon
              = icon('fa','star', class: 'item-description__btn-left__star-icon')
            .item-description__btn-left__button-like
              %span お気に入り 0
          .item-description__btn-right
            = link_to "#" do
              .item-description__btn-right__flag-icon
                = icon('fa', 'flag', class: 'item-description__btn-right__flag-icon')
              .item-description__btn-right__button-flag
                不適切な商品の通報
      - elsif current_user == nil
        .item-description
          .item-description__btn-left
            .item-description__btn-left__star-icon
              = icon('fa','star', class: 'item-description__btn-left__star-icon')
            .item-description__btn-left__button-like
              %span お気に入り 0
          .item-description__btn-right
            = link_to "#" do
              .item-description__btn-right__flag-icon
                = icon('fa', 'flag', class: 'item-description__btn-right__flag-icon')
              .item-description__btn-right__button-flag
                不適切な商品の通報 
      - else
  
    .item-detail-message
      .item-detail-message__container
        %textarea.inputs
      .item-detail-message__content
        %p 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。

      - if sold == nil
        .item-detail-message__btn  
          .item-detail-message__btn__icon
            = icon('fas', 'comment', class: 'item-detail-message__btn__icon')
          .item-detail-message__btn__text
            %p
              コメントする
      - else 
        .item-detail-message__sold            
          .item-detail-message__sold__text
            %p 
              売り切れのためコメントできません


    .container__media
      .container__media__text
        .container__media__text__right-box
          = link_to "#" do
            < 前の商品
        .container__media__text__left-box
          = link_to "#" do
            後ろの商品 >
      .container__media__box
        = link_to "#" do
          ベビー・キッズをもっと見る


.exhibit-box
  - if user_signed_in?
    = link_to new_product_path do
      .exhibit-btn   
        .exhibit-btn__text
          出品する
        .exhibit-btn__icon
          = icon('fa', 'camera', class: 'icon') 
  - else
    = link_to new_user_session_path do
      .exhibit-btn   
        .exhibit-btn__text
          出品する
        .exhibit-btn__icon
          = icon('fa', 'camera', class: 'icon')
    
= render partial: "/layouts/footer"

  