= render partial: "/layouts/header"

.container
  .container__box
    .item-box-container
      %h1.item-name 
        = @product.name
      .item-box-container__item-main-content
        .item-box-container__item-main-content-clearfix
          .item-box-container__item-main-content-clearfix__image 
            = image_tag 'pict-reason-01.jpg', class: 'item-box-container__item-main-content-clearfix__image__detail'

        .item-box-container__item-main-content-clearfix__image__dot
          %ul
            %li
              = image_tag 'pict-reason-01.jpg', height: '90', width: '140'
            %li
              = image_tag 'pict-reason-01.jpg', height: '90', width: '140'
            %li
              = image_tag 'pict-reason-01.jpg', height: '90', width: '140'
         
                
        .item-price-box
          %span.item-price-box__bold 
            ¥2000           
        .item-tax-box  
          %span.item-price-box__tax-shipping-fee 
            (税込)送料込み
        .item-buy-button
          = link_to new_transaction_path do         
            %span.item-buy-button__buy
              購入画面に進む 
        .item-edit-button
          = link_to edit_product_path do
            %span.item-edit-button__edit 
              この商品を編集
        .choice-text
          %span or
        .item-delete-button
          = link_to product_path method: :delete do
            %span.item-delete-button__delete 
              この商品を削除
        .item-text-box
          %span.item-text-box__content
            = @product.description
        .item-name-box
          %span.item-name-box__left 
            product
        .item-box-container__item-main-content-clearfix__table
          %table{border: "1", style: "border-collapse: collapse"}
            %tr
              %th 出品者
              %td.item-box-container__item-main-content-clearfix__table__td hoge                                               
            %tr
              %th カテゴリー
              %td.item-box-container__item-main-content-clearfix__table__td 
                = link_to "#" do
                  ベビー、キッズ           
            %tr
              %th ブランド 
              %td.item-box-container__item-main-content-clearfix__table__td  
            %tr
              %th 商品のサイズ 
              %td.item-box-container__item-main-content-clearfix__table__td              
            %tr
              %th 商品の状態 
              %td.item-box-container__item-main-content-clearfix__table__td
                = @product.condition               
            %tr
              %th 配送料の負担
              %td.item-box-container__item-main-content-clearfix__table__td             
            %tr
              %th 配送の方法
              %td.item-box-container__item-main-content-clearfix__table__td              
            %tr
              %th 発送元地域 
              %td.item-box-container__item-main-content-clearfix__table__td 
                = link_to "#" do
                  岩手
            %tr
              %th 発送日の目安
              %td.item-box-container__item-main-content-clearfix__table__td
          
      .item-description                  
        .item-description__btn-left
          .item-description__btn-left__star-icon
            = icon('fa','star', class: 'item-description__btn-left__star-icon')
          .item-description__btn-left__button-like
            %span お気に入り 0                       
        .item-description__btn-right
          = link_to "#" do
            .item-description__btn-right__flag-icon
              = icon('fa', 'flag', class: 'item-description__btn-right__flag-icon')
            .item-description__btn-right__button-flag
              不適切な商品の通報
                  
  
    .item-detail-message
      .item-detail-message__container    
        %textarea.inputs        
      .item-detail-message__content
        %p 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .item-detail-message__btn  
          .item-detail-message__btn__icon         
            = icon('fas', 'comment', class: 'item-detail-message__btn__icon')
          .item-detail-message__btn__text            
            コメントする
    .container__media
      .container__media__text
        .container__media__text__right-box
          = link_to "#" do
            < 前の商品
        .container__media__text__left-box
          = link_to "#" do
            後ろの商品 >
      .container__media__box
        = link_to "#" do
          ベビー・キッズをもっと見る


.exhibit-box
  - if user_signed_in?
    = link_to new_product_path do
      .exhibit-btn   
        .exhibit-btn__text
          出品する
        .exhibit-btn__icon
          = icon('fa', 'camera', class: 'icon') 
  - else
    = link_to new_user_session_path do
      .exhibit-btn   
        .exhibit-btn__text
          出品する
        .exhibit-btn__icon
          = icon('fa', 'camera', class: 'icon')
    
= render partial: "/layouts/footer"

  