.footer--sub
  %ul.footer--sub__lists
    %li.footer--sub__lists__list
      = link_to 'プライバシーポリシー','#', class: 'footer--sub__lists__list--link'
    %li.footer--sub__lists__list
      = link_to 'FURIMA利用規約','#', class: 'footer--sub__lists__list--link'
    %li.footer--sub__lists__list
      = link_to 'ポイントに関する特約','#', class: 'footer--sub__lists__list--link'
  .footer--sub__logo
    = link_to 'http://furima.tokyo/', class: 'footer--sub__logo--link' do
      = image_tag 'logo/logo.png', alt: '画像を表示できません', class: 'footer--sub__logo--link__img'
  .footer--sub__inc-name
    © FURIMA, Inc.